
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */
.font-size{
    font-size: 16px;
    font-weight: 400px;
}
.web-development-sub-title{
    font-size: 24px;
}
.text-align{
    text-align: center;
}
/* header styles */
.banner-part{
    background-image: url(../styles/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.banner-content{
    text-align: center;
}
.banner-title{
    font-size: 48px;
    font-size: 800;
}
.btn-contact{
    height: 65px;
    font-size: 20px;
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
    background-color: #0D1321;
    color: #FFFFFF;
    margin: 30px 375px 60px;
}
.banner-sub-content{
    padding: 30px 220px;
}
/* why web development styles */
.web-development{
    background-color: #FAFAFB;
    width: 1140px;
    margin: auto;
    border-radius: 16px;
    margin-top: 60px;
    margin-bottom: 90px;
}
.web-development-main-title{
    font-size: 32px;
    font-weight: 800px;
}
.web-development-title{
    text-align: center;
}
.section-title{
    display: flex;
    margin: 48px;
    justify-content: space-between;
    padding: 48px;
    background-image: linear-gradient(#FFFFFF, #FBFBFB);
}
.section-container{
    gap: 48px;
}
.button{
    margin-top: 32px;
    padding: 12px 20px;
    border-radius: 0;
    border: 1px solid black;
}
.title-description{
    margin: auto;
}
/* inspiration section style */
.about-inspiration{
    margin: auto;
    width: 1140px;
}
.inspiration-title{
    font-size: 32px;
}
.inspiration-details{
    text-align: center;
    margin-bottom: 48px;
}
.video {
    border-radius: 16px;
    border: 1px solid;
    padding: 32px;
}
.language-container{
    display: flex;
    gap: 24px;
}
.language{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
